#hoverBar {
  @apply absolute;
  pointer-events: none;
}

#canvasContainer.fullscreen #hoverBar {
  display: none;
}

#hoverBarTop {
  @apply absolute w-full flex items-center justify-between text-xl;
  top: 0;
  pointer-events: none;
}
#hoverBarTop button {
  pointer-events: all;
}
#hoverBarBottom {
  @apply absolute flex justify-center text-center cursor-pointer text-xl mx-auto bg-blue-500 px-1 py-2 rounded-t text-white;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
  pointer-events: all;
}

.hoverBarRight {
  top: 0 !important;
  z-index: 9999999999;
}

.hoverTheme-section #hoverBar {
  @apply border-green-500;
}
.hoverTheme-section .hoverBarRight,
.hoverTheme-section .hoverBarLeft,
.hoverTheme-section #hoverBarBottom {
  @apply bg-green-500;
}

.hoverTheme-row #hoverBar {
  @apply border-blue-500;
}
.hoverTheme-row .hoverBarRight,
.hoverTheme-row .hoverBarLeft,
.hoverTheme-row #hoverBarBottom {
  @apply bg-blue-500;
}

.hoverTheme-column #hoverBar {
  @apply border-slate-500;
}
.hoverTheme-column .hoverBarRight,
.hoverTheme-column .hoverBarLeft,
.hoverTheme-column #hoverBarBottom {
  @apply bg-slate-500;
}

.hoverTheme-element #hoverBar {
  @apply border-orange-500;
}
.hoverTheme-element .hoverBarRight,
.hoverTheme-element .hoverBarLeft,
.hoverTheme-element #hoverBarBottom {
  @apply bg-orange-500;
}

.blocks-popup {
  @apply bg-white  w-full p-6 shadow-2xl rounded-md grid grid-cols-3 gap-3 border-2 border-slate-200 overflow-x-hidden;
  width: 550px;
  max-height: 365px;
}

.blocks-coyote-time {
  @apply absolute z-10;
  background: rgba(0, 0, 0, 0);
  top: 0px;
  left: 50%;
  margin-left: -340px;
  width: 680px;
  padding: 35px 65px;
  padding-bottom: 55px;
}

.blocks-coyote-time.position-top {
  top: -398px;
}

.blocks-popup.elementTheme {
  @apply border-orange-500;
}
.blocks-popup.rowTheme {
  @apply border-blue-500;
}
.blocks-popup.sectionTheme {
  @apply border-green-500;
}

.blocks-popup .block {
  @apply p-3 text-center cursor-pointer text-slate-700 border rounded;
  transition: transform 0.2s ease;
}
.blocks-popup .block svg {
  @apply w-8 h-8 mx-auto mb-2 text-slate-300;
}
.blocks-popup .block span {
  @apply text-sm font-bold text-slate-500 flex-none;
}

.blocks-popup .block:hover {
  @apply bg-slate-100;
  transform: scale(1.05);
}

.blocks-popup .block:hover span,
.blocks-popup .block:hover svg {
  @apply text-slate-700;
}
