.page-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  margin: 0 !important;
}

.page-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 800px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20px;
}

.page-modal-title {
  @apply text-4xl font-bold;
}

.page-list {
  list-style: none;
  margin: 10px 0;
  height: auto;
  max-height: 300px;
  padding-right: 10px;
  padding-bottom: 15px;
  @apply space-y-3;
  clear: both;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-list .page-item {
  @apply text-lg border rounded shadow-sm p-3 cursor-pointer flex items-center justify-between;
  transition: all 0.2s ease-in-out;
}

.page-list .page-item:hover,
.page-list .page-item:focus {
  @apply shadow-lg bg-orange-50 text-orange-800 border-orange-200;
}

.page-item-button {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  font-size: 21px;
}

.page-item-button:hover,
.page-item-button:focus {
  opacity: 1;
}

.page-modal-close-button {
  display: block;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.page-modal-close-button:hover,
.page-modal-close-button:focus {
  outline: none;
  background-color: #555;
}
