#sidebar {
  @apply relative hidden bg-white shadow-sm md:block;
  max-width: 340px;
  width: 100%;
  height: calc(100vh - 54px);
}
#sidebar.closed {
  left: -340px;
  position: fixed;
}
.sidebar-fieldset {
  @apply relative flex items-center justify-between px-3 py-1;
}
.sidebar-label {
  @apply flex w-full items-center justify-between pr-2 text-sm font-medium lowercase capitalize text-slate-700;
}
.sidebar-label div {
  @apply hidden cursor-pointer;
}
.sidebar-label:hover div {
  @apply block;
}
input.sidebar-input {
  @apply w-full rounded border border-slate-300 p-2 text-center text-sm font-medium text-slate-700 shadow-sm;
  max-width: 125px;
  width: 100%;
}
.sidebar-property input.sidebar-input {
  max-width: 225px;
}
.sidebar-input.full {
  width: 100%;
  max-width: 100% !important;
}
textarea.sidebar-input {
  @apply w-full rounded border border-slate-300 p-2 text-center text-sm font-medium text-slate-700 shadow-sm;
  max-width: 125px;
  width: 100%;
}
select.sidebar-input {
  @apply w-full rounded border  border-slate-300 p-2 text-center text-sm font-medium text-slate-700 shadow-sm;
  max-width: 125px;
  width: 100%;
}

.sidebar-fieldset-full {
  @apply relative border-b border-slate-200 px-3 py-2;
}
.sidebar-fieldset-full label {
  @apply mb-1;
}
.sidebar-input-full {
  @apply w-full rounded border border-slate-300 p-2 text-sm shadow-sm;
  width: 100%;
}

#sidebar::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: none;
  padding: 2px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-corner {
  background: none;
}

#expander {
  @apply absolute cursor-pointer rounded-br-md bg-white p-2 text-lg;
  top: 0;
  right: -32px;
}
